<?xml version="1.0"?>
<!--
 *  Copyright (c) 2024 Gelmar (Pty) Ltd
 *
 *  Author: Rorke Melville
 *
 *  Released under the GNU General Public License
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Gelmar_ReturnsInfo::config" title="Returns Info Configuration" sortOrder="100" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
